@import '~@/static/css/mixins.scss';

.discover-album {
  width: 980px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;

  h3 {
    font-size: 24px;
    border-bottom: 2px solid #c20c0c;
  }

  .hot-wrap {
    width: 100%;

    ul {
      li {
        width: 152px;
      }
    }
  }
}