@import '../../static/css/mixins.scss';

.back-top {
  width: 50px;
  height: 40px;
  @include position(fixed, none, -50%, 160px);
  background-color: #8d8d8d;
  border: 1px solid gainsboro;
  z-index: 10;
}