@mixin flex($justify-content: space-between, $align-items: center ) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-center($line-height: 34px, $text-align: center) {
  text-align: center;
  line-height: $line-height;
}

@mixin position($position: relative, $top: 0, $left: 0, $bottom: none, $right: none){
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}