@import '../../static/css/mixins.scss';

.ranking-warp {
  a {
    color: rgb(0, 0, 0);
    font-size: 12px;
  }

  a:hover {
    border-bottom: 1px solid #333;
  }

  .header {
    @include flex();
    .header-left {
      font-size: 0;
      a {
        display: inline-block;
        font-size: 0;
      }
      img {
        width: 80px;
        height: 80px;
      }
    }
  }

  .tracks {
    width: 230px;
    > li {
      @include flex();
      .name {
        width: 170px;
        @include flex();
      }
    }
    .gray {
      background-color: rgba(128, 128, 128, 0.38);
    }
  }
}