@import '../../../static/css/mixins';

.ranking-warp {
  width: 230px;
  background-color: rgb(242, 242, 242);
  border-right: 1px solid #d3d3d3;
  a {
    color: rgb(0, 0, 0);
    font-size: 12px;
  }
  .header {
    height: 120px;
    padding: 20px 0 0 19px;
    @include flex();
    .header-left {
      font-size: 0;
      a {
        display: inline-block;
        font-size: 0;
      }
      img {
        width: 80px;
        height: 80px;
      }
    }
    .header-right {
      width: 116px;
      height: 50px;
      a {
        font-size: 14px;
        font-weight: 700;
      }
      a:hover {
        border-bottom: 1px solid #333;
      }
      .icons {
        margin-top: 10px;
        span {
          width: 22px;
          height: 22px;
          display: inline-block;
          margin-right: 10px;
        }
        .play {
          background: url('https://s2.music.126.net/style/web2/img/index/index.png?274225ce7236ef32f2314b1318f15b64') no-repeat -267px -205px;
        }
        .collect {
          background: url('https://s2.music.126.net/style/web2/img/index/index.png?274225ce7236ef32f2314b1318f15b64') no-repeat -300px -205px;
        }
      }
    }
  }

  .tracks {
    width: 230px;
    a:hover {
      border-bottom: 1px solid #333;
    }
    > li {
      height: 32px;
      @include flex(space-around);
      .name {
        width: 170px;
        @include flex();
        .oper {
          width: 82px;
          display: none;
          >div {
            @include flex();
            span {
              width: 18px;
              height: 18px;
            }
            .play {
              background: url('https://s2.music.126.net/style/web2/img/index/index.png?274225ce7236ef32f2314b1318f15b64') no-repeat 0 9999px;
              background-position: -267px -268px;
            }
            .add {
              background: url('https://s2.music.126.net/style/web2/img/icon.png?5fea58a3653085708983dce83a15c4e1') no-repeat 2px -698px;
            }
            .collect {
              background: url('https://s2.music.126.net/style/web2/img/index/index.png?274225ce7236ef32f2314b1318f15b64') no-repeat -297px -268px;
            }
          }
        }
      }
    }
    >li:last-child {
      margin-right: 32px;
      justify-content: flex-end;
    }
    >li:hover .oper {
      display: block;
    }
    >li:hover a{
      max-width: 80px;
    }
    .gray {
      background-color: rgba(128, 128, 128, 0.2);
    }
    .red {
      color: #c10d0c;
    }
  }
}