@import '~@/static/css/mixins.scss';
@import '../RecommendComponent/style';

.rank-wrap {
  width: 60%;
  @include flex();

  > p:nth-child(1) {
    width: 304px;
  }

  > p:nth-child(2) {
    width: 166px;
  }

  > p:nth-child(3) {
    width: 90px;
    color: #999;
  }

  > p:nth-child(4) {
    width: 126px;
    color: #999;
  }
}

